 body {
    margin:  0;
    padding: 0;
    color: black;
    font-family: Helvetica, Tahoma, Arial, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    text-align: justify;
}

#whitespace{
    margin: 0 auto;
    padding: 30px 20px; 
    width: auto;
    max-width: 900px;
    min-width: 750px;
    background-color: #f0f0f0;
}   

#login{
    text-decoration: none;
        font-weight: bold;
    color: #494949;
    margin: 0 0.2em;
    padding: 0.2em 1em;
    position: absolute;
    right: 10px;
    top: -20px;
    margin-bottom:50px;
}

#login a, img{
         margin: 0 0 0 0.5em;
}

#header {
    position: relative;
    margin: 0px;
    padding: 20px 0 0 0;
    height: 100px;
    width: auto;
}

#banner {
    background: url("images/banner.png");
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    height: 60px;
    margin: 40px 0 0 0;
}

#logo {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

#logo img {
    border: none;
}

#switcher {
    top: 20px;
    right: -25px;
    padding: 0px;
	z-index: 1; 
    position: absolute;
}

#topnavi ul{
    font-size: 0.9em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
    background-color:#94d101;
	position: relative;
    left: 0px;
    padding: 0 0.5em;
    margin: 10px 0;
    height: 2.6em;
	width: auto;
	text-align: center;
}

li.link {
    float: left; 
    list-style: none;
    display: inline;
    margin: 0.7em 0em; 
}

li.link a, li.link span {
    text-decoration: none; 
	font-weight: bold;
    color: #494949; 
    margin: 0 0.2em;
    padding: 0.2em 1em;
    background-color:#85bc02;
}

li.link a:hover{
	color: #ff0006; 
}

li.link span.aktive{
	color: #ff0006; 
    background-color:#b4ff00;	
}

li.link span.aktive a {
    padding: 0;
    margin: 0;
	color: #ff0006;
    background-color:#b4ff00;	
 
}

ul.metanavi li{
    list-style: none;
    float: right;
}

#topnavi ul li.link{
    border-right: solid 0;
}

#footer ul li.link {
    border-left: solid 0;
}

#sidenavi ul li.link{
    border: 0px;
}

#topnavi div {
     clear: left;
}

#sidenavi {
    font-size: 0.9em;
    position: absolute;
    height: 20em;
    width: 12em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
    background-color:#94d101;
}

#sidenavi ul{
    color: #2a1705;
    float: left;
    margin: 0;
    padding: 5px;
	text-align: left;
}

#sidenavi div {
     clear: left;
}

#content {
    margin:0px 1em 1em 16em; 
    padding: 1em ;
    min-height: 30em;
    overflow: auto;
    font-size: 0.9em;
}

#content img{
    margin: 1em;
    padding: 0.5em;
    background-color:#7A7A7A;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content a img.bildlink {
    margin: 1em;
    padding: 0.4em;
    border-color:#7A7A7A;
    float: left;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content a.bild_menu img{
    margin: 0.6em;
    padding: 0.3em;
    background-color: #a0e300;
    float: left;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content img.bild_produkt {
    margin: 1em;
    padding: 0em;
    float: right;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content img.produkt {
    margin: 1em;
    padding: 0.4em;
    background-color: #7A7A7A;
    float: right;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content ul.initiale li {
    list-style: none;
}

#content ul.initiale li:first-letter {
    font-style: normal;
    width: 2em;
    font-size: 1.5em;
    border: solid 1px;
}

#content div {
     clear: left;
}

.column{
    -webkit-border-radius:  4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: white;
    margin: 0 1em 0 0;
    padding: 1em;
    float: right;
    width: 44%;
    min-height: 400px;
}

.column a{
    text-decoration: none;
    color: #85bc02;
}

.column h1 {
    font-size: 1.4em;
}

.column h2 {
    font-size: 1.3em;
}

.column h3 {
    font-size: 1.2em;
}

.quelle {
    text-align: right;
    font-size: 0.7em;
    padding: 2em  0 0 0;
}

.produkt p{
    margin: 0px 20px 20px 20px;
    float:left;
}

h1 { 
    font-size: 2em;
    color: #1f1f1f; 
}

h2 {
    font-size: 1.8em;
	color: #262626;
}

h3 {
    font-size: 1.4em;
	color: #262626;
}

em {
    color: #137099;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
}

#footer {
    font-size: 0.9em;
    right: 0px;
    bottom: 0px;
    padding: 0 0.5em;
    margin: 40px 0px 0px 0px;
    height: 2.5em;
    background-color:#94d101;
    width: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}