body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Tahoma, Arial, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    text-align: justify;
    background-color: #000;
}

#whitespace{
    margin: 0 auto;
    padding: 30px 20px;
    width: auto;
    max-width: 900px;
    min-width: 750px;
    background-color: #000;
}

#login{
    font-weight: bold;
    font-size: 0.8em;
    margin: 0 0.2em;
    padding: 0.2em 1em;
    position: absolute;
    right: 10px;
    top: -20px;
    margin-bottom:50px;
}

#login a, #login a img{
    margin: 0 0 0 0.5em;
    text-decoration: none;
    border: none;
    color: #494949;
 }

#header {
    position: relative;
    margin: 0px;
    padding: 20px 0 0 0;
    height: 100px;
    width: auto;
}

#banner {
    background: url("images/bannerKontrast.png");
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:  10px;
    height: 60px;
    margin: 40px 0 0 0;
}

#logo {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

#logo img {
    border: none;
}

#switcher {
    top: 20px;
    right: -25px;
    padding: 0px;
    z-index: 1;
    position: absolute;
}

#topnavi ul{
    font-size: 0.9em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
    background-color:#3f3f3f;
    position: relative;
    left: 0px;
    padding: 0 0.5em;
    margin: 10px 0;
    height: 2.6em;
    width: auto;
    text-align: center;
}

li.link {
    float: left;
    list-style: none;
    display: inline;
    margin: 0.7em 0em;
}

li.link a, li.link span {
    text-decoration: none;
    font-weight: bold;
    color: #AAA;
    margin: 0 0.2em;
    padding: 0.2em 1em;
    background-color: #555;
}

/* neu */
li.link a:hover{
    color: #1F1F1F;
}

li.link span.aktive{
    color: #1F1F1F;
    background-color: #bbb;
}

li.link span.aktive a {
    padding: 0;
    margin: 0;
    color: #1F1F1F;
    background-color: #bbb;
}

ul.metanavi li{
    list-style: none;
    float: right;
}
/* neu */



#sidenavi{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
    background-color:#3f3f3f;
    font-size: 0.9em;
    position: absolute;
    height: 20em;
    width: 12em;
}

#sidenavi ul{
    color: #fff;
    float: left;
    margin: 0;
    padding: 5px;
    text-align: left;
}

#sidenavi div {
     clear: left;
}

#content {
    position: relative;
    margin: 0px 1em 0 13em;
    padding: 1em ;
    min-height: 30em;
    overflow: auto;
}
#content img{
    margin: 1em;
    padding: 0.5em;
    background-color:#7A7A7A;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content img.bild{
    margin: 1em;
    padding: 0.5em;
    border: none;
    background-color: transparent;
}


#content a img.bildlink {
    margin: 1em;
    padding: 0.4em;
    border-color:#7A7A7A;
    float: left;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content a.bild_menu img{
    margin: 0.6em;
    padding: 0.3em;
    background-color: #a0e300;
    float: left;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

#content img.bild_produkt, img.produkt{
    margin: 1em;
    padding: 0em;
    float: right;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
}

.produkt span{
    float: left;
    display: inline-block;
    margin: 0 auto;
}

.produkt p{
    margin: 0px 1em 1em 1em;
    float:left;
    text-align: center;
}

.column{
    position: relative;
    left: 0px;
    -webkit-border-radius:  4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: white;
    color: #000;
    margin: 0 1em 0 0;
    padding: 1em;
    float: left;
    width: 43%;
    min-height: 400px;
}

.column a{
    text-decoration: none;
    color: #85bc02;
}

.column h1 {
    font-size: 1.4em;
    color: #1f1f1f;
}

.column h2 {
    font-size: 1.3em;
    color: #262626;
}

.column h3 {
    font-size: 1.2em;
    color: #262626;
}

.quelle {
    text-align: right;
    font-size: 0.7em;
    padding: 2em  0 0 0;
}

.clear {
    clear: both;
}


h1 {
    font-size: 2em;
    color: #aaa;
}

h2 {
    font-size: 1.8em;
    color: #bbb;
}

h3 {
    font-size: 1.4em;
    color: #ccc;
}

em {
    color: #137099;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
}

#footer{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:  5px;
    background-color: #3f3f3f;
    clear:both;
    right: 0px;
    bottom: 0px;
    padding: 0 0.5em;
    margin: 40px 0px 0px 0px;
    height: 2.5em;
    width: auto;
    font-size: 0.9em;
}
