body {
    margin: 0; 
    padding: 0;
    color: black;
    font-family: Helvetica, Tahoma, Arial, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
}

#whitespace{
    margin: 0 auto;
    padding: 0; 
    width: auto;
}

#farbband {
	left: auto;
	right: auto;
    margin: 0;
    padding: 30px 20px;
}    

#header {
    position: relative;
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: auto;
}

#banner {
   display: none;
}

#logo {
    left: -15px;
    top: 0px;
    padding: 0px;
    position: absolute;
}

#switcher {
    display: none;
}

#topnavi {
    display: none;
}

.aktuell span {
    display: inline-block;
    float: left;
}
    
#sidenavi{
    display: none;
}

#sidenavi span {
    float: left;
    display: inline-block;
}

#footer {
    right: 0px;
    bottom: 0px;
    margin: 40px 20px 0 0;
    position: absolute;
    height: 30px;
}

.metanavi li{
    list-style: none;
    float: right;
    padding: 0 0 0 5px;
}

#content {
    margin:0px 20px 20px 20px; 
    padding: 10px 10px;
}

h1 { 
    color: #1f1f1f; 
}

h2 {
	color: #262626;
}